
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <div>
            <h1>Tempdata | Index</h1>
            <h2>@TempData["myKey"]</h2>
        </div>
    </div>
</body>
</html>
